.full {
	margin: auto;
}
.motivate img {
	border-radius: 4px;
	padding: 5px;
	max-width: 100%;
}
.center {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 32px;
	font-weight: bold;
	color: #afe19b;
}
.opciones {
	display: flex;
	border: 1px solid white;
	padding: 0;
}
.img_ejercicio {
	width: 100%;
}
.txt-ejercicio {
	position: absolute;
	margin-top: 10%;
	margin-left: 17%;
	font-weight: bold;
	font-size: 32px;
	color: white;
}
.img_receta {
	width: 100%;
}
.txt-receta {
	position: absolute;
	margin-top: 12%;
	margin-left: 18%;
	font-weight: bold;
	font-size: 32px;
	color: white;
}
.footer {
	color: white;
	font-size: 24px;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	.motivate img {
		border-radius: 4px;
		padding: 5px;
		max-width: 100%;
	}
	.center {
		position: absolute;
		top: 18%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 12px;
		font-weight: bold;
		color: #afe19b;
	}
	.opciones {
		display: flex;
		border: 1px solid white;
		padding: 0;
	}
	.img_ejercicio {
		margin-left: 50%;
		max-width: 50%;
	}
	.txt-ejercicio {
		position: absolute;
		margin-top: 10%;
		margin-left: 17%;
		font-weight: bold;
		font-size: 14px;
		color: white;
	}
	.img_receta {
		max-width: 50%;
	}
	.txt-receta {
		position: absolute;
		margin-top: 12%;
		margin-left: -33%;
		font-weight: bold;
		font-size: 14px;
		color: white;
	}
	.footer {
		color: white;
		font-size: 10px;
		font-weight: bold;
	}
}
