* {
	color: white;
	text-align: justify;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: rgb(238, 95, 95);
}
b {
	color: rgb(238, 95, 95);
}
h2 {
	color: rgb(212, 28, 28);
}
.FAQ {
	background-color: #212529;
	border: 1px solid rgb(255, 255, 255);
	margin-bottom: 1rem;
}
.pc {
	width: 15rem;
}
.title {
	margin-left: 12rem;
}
.requisitos_técnicos {
	background-color: #212529;
	border: 1px solid rgb(255, 255, 255);
	margin-bottom: 1rem;
}
.contact {
	background-color: #212529;
	border: 1px solid rgb(255, 255, 255);
	margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
	.pc {
		width: 5rem;
	}
	.title {
		margin-left: 0;
	}
	.space {
		visibility: hidden;
	}
}
